{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1 class="mb-4">Create New Product</h1>

    {{ include('admin/product/_form.html.twig') }}
{% endblock %}
